<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coin Flip</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Coin Flip</h1>
  <h2>Try your luck and take a guess. Heads or Tails? </h2>


  <h3>Results</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span class="userGuess"><%= messages[i].userGuess %></span>
      <span class="coinResult"><%= messages[i].coinResult %></span>
      <span class="winOrLose"><%= messages[i].winOrLose %></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <form action="/results" method="POST">
    <input type="text" placeholder="Heads or Tails?" name="userGuess">
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
